<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.tensorflow.demo">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 날씨관련 -->
    <!-- 오픈웨더맵으로부터 날씨 데이터 값을 받기 위한 퍼미션(인터넷 연결이 되어있어야 한다.) -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- GPS으로 부터 정확한 위치를 얻디 위한 퍼미션 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 네트워크로부터 위치를 얻기 위한 퍼미션 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:banner="@mipmap/logo"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/MaterialTheme">
        <activity android:name=".DetectorActivity" />
        <activity android:name=".activity_weather" />
        <!--
        <activity android:name="org.tensorflow.demo.ClassifierActivity"
                  android:screenOrientation="portrait"
                  android:label="@string/activity_name_classification">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".InfoActivity"
            android:label="@string/activity_name_detection"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>